@using ProjectManager.BusinessLayer.Models
@model TaskModel
@{
    ViewData["Title"] = "Complete task";
    var project = ViewBag.Project as ProjectModel;
}

<h1>Complete Task</h1>

<div>
    <h4>Задача</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
    </dl>

    <form asp-action="Complete" asp-route-id="@Model.Id" asp-route-projectId="@project.Id">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Complete" class="btn btn-success" /> |
        <a asp-action="Index" asp-route-projectId="@project.Id">Back to task list</a>
    </form>
</div>